version: '3.7'

services:
  
  backend:
    build: backend/
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: unless-stopped
    env_file:
      - backend/.env 
    
  bot:
    build: bot/
    ports:
      - "88:88"
      - "5678:5678"
    volumes:
      - type: bind
        source: ./props.json
        target: /bot/props.json
        read_only: false
    env_file:
      - ./bot/.env