version: '3.7'

services:
  backend:
    build: backend/
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: unless-stopped
  bot:
    build: bot/
    ports:
      - "88:88"
    volumes:
      - type: bind
        source: ./props.json
        target: /bot/props.json
        read_only: false